<div id="discipline-banner">
  <div class="row" id="row-discipline-banner">
    <div class="col-xs-12">
      <h1 id="text-discipline-banner"> <%= discipline %> </h1>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row" id="row-requirements">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-block">
          <%= yield %>
          <br>
          <br>
          <a href="https://script.google.com/macros/s/AKfycby3heLfIUtEU02baoiWCiFBA6kabj8iVzGsCDUuCYczs68ccYU/exec" target="_blank" class="btn btn-block btn-raised btn-primary">Submit Your Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
