<br>
<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Diciplines Available</h1>
  </div>
</div>
<br>
<br>
<!-- TODO make dynamic from profile submissions -->
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="card card-btn ripple">
      <%= link_to mechanical_engineering_path, class: "text-decoration-none" do %>
        <div class="card-block">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <i class="material-icons engineering-dicipline-icons">settings</i>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>
                Mechanical Engineering
              </h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="card card-btn ripple">
      <%= link_to computer_engineering_path, class: "text-decoration-none" do %>
        <div class="card-block">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <i class="material-icons engineering-dicipline-icons">code</i>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>
                Computer Engineering
              </h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="card card-btn ripple">
      <%= link_to electrical_engineering_path, class: "text-decoration-none" do %>
        <div class="card-block">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <i class="material-icons engineering-dicipline-icons">flash_on</i>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>
                Electrical Engineering
              </h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
