
<div class="row">
  <div class="col-xs-12 text-center">
    <h1>How It Works</h1>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4 col-xs-12 text-center">
    <%= placeholdit_image_tag( "150x150", class: "img-circle text-center" ) %>
    <h2 class="text-center">Choose a discipline</h2>
    <p class="text-center">Select a discipline of engineering that you are interested in, and read the requirements for projects in that discipline</p>
  </div>

  <div class="col-md-4 col-xs-12 text-center">
    <%= placeholdit_image_tag( "150x150", class: "img-circle text-center" ) %>
    <h2 class="text-center">Submit a Project</h2>
    <p class="text-center">Submit a project what ever discipline your project fits into.  Make sure it is at least close to the requirements given for that discipline</p>
  </div>

  <div class="col-md-4 col-xs-12 text-center">
    <%= placeholdit_image_tag( "150x150", class: "img-circle text-center" ) %>
    <h2 class="text-center">Get a Student Group</h2>
    <p class="text-center">After you submit your project, the professor teaching that discipline will reach out to you via email to let you know if your project was selected by a student group</p>
  </div>
</div>
