<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Past Projects</h1>
    <h6 class="text-muted">To name a few...</h6>
  </div>
</div>
<br>
<br>
<div id="past-projects-carousel-indicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#past-projects-carousel-indicators" data-slide-to="0" class="active"></li>
    <li data-target="#past-projects-carousel-indicators" data-slide-to="1"></li>
    <li data-target="#past-projects-carousel-indicators" data-slide-to="2"></li>
    <li data-target="#past-projects-carousel-indicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("core-cutters-co.jpg", class: "past-projects-img", alt: "Core Cutters Co") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Core Cutters Co</h3>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("turtle-tongue.jpg", class: "past-projects-img", alt: "Turtle Tongue") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Turtle Tongue</h3>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("nerd-vision.jpg", class: "past-projects-img", alt: "Nerd Vision" ) %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Nerd Vision</h3>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("bcreporter.jpg", class: "past-projects-img", alt: "BCReporter") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>BCReporter</h3>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#past-projects-carousel-indicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#past-projects-carousel-indicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
