<%= render layout: "engineering_discipline", locals: {discipline: "Civil Engineering"} do %>
  <h2 class="text-center">Requirements </h2>
<% end %>
<%= render layout: "engineering_discipline_contact" do %>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Keith Dennett</td>
        <td>kdennett@unr.edu</td>
        <td>775-784-4056</td>
        <td>SEM 226</td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= render "layouts/footer" %>
