<div id="discipline-banner">
  <div class="row" id="row-discipline-banner">
    <div class="col-xs-12">
      <h1 id="text-discipline-banner"> Contact </h1>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-block">
          <h3>Business Development</h3>
          <br>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Office #</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-block">
          <h3>Website Admin</h3>
          <br>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>George Nicholas</td>
                <td>george.nicholas@capstoneconnect.com</td>
                <td>775-241-3679</td>
                <td>ARF 316</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
