<div id="background-image">
  <div class="container-banner">
    <div class="row row-banner">
      <div class="col-xs-12 text-center text-white">

        <h1>Testdrive Tallent For Free</h1>
        <br>
        <h3>Work with engineering for a year without ever hiring them</h3>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2 class="featurette-heading">Engineering students work on your projects <span class="text-muted"> For a whole year </span></h2>
      <p class="lead">During that year you get to see their:</p>
      <ul>
        <li>Creative problem solving skills during the planning faise</li>
        <li>Ability to plan and develope a build plan</li>
        <li>Crisis handling</li>
        <li>Finalized prototype</li>
      </ul>
    </div>
    <div class="col-md-5">
      <%= image_tag("ME-Senior-Design-2013-362.jpg", class: "img-fluid") %>
    </div>
  </div>
  <hr class="featurette-divider">
  <%= render "home/engineering_diciplines" %>
  <hr class="featurette-divider">
  <%= render "home/how_it_works" %>
  <hr class="featurette-divider">
  <%= render "home/sponsors" %>
  <hr class="featurette-divider">
</div>
