<%= render layout: "engineering_discipline", locals: {discipline: "UNR IP"} do %>
  <h2 class="text-center">Documentation</h2>
<% end %>
<%= render layout: "engineering_discipline_contact" do %>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Ellen Purpus</td>
        <td>epurpus@unr.edu</td>
        <td>775-784-8228</td>
        <td>Ross Hall, 106</td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= render "layouts/footer" %>
