#discipline-banner {
  height: 100px;
  background: #378fe7;
  color: white;
  // position: absolute;
  // width: 100%;
}

#row-requirements {
  // margin-top: 80px;
}

#row-discipline-banner {
  padding-top: 26px;
}

#text-discipline-banner {
  padding-left: 20px;
}
