html,body{height:100%;}

.BoxShadowHelper-level1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.BoxShadowHelper-level2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.BoxShadowHelper-level3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.BoxShadowHelper-level4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

.BoxShadowHelper-level5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

@media (max-width: 992px) {
  .hidden-md-down {
    display: none;
  }
  .img-nav-bar-brand {
    float: right !important;
    margin-right: 50px;
  }

  .text-center-mobile {
    text-align: center;
  }
}

.nav {
  // height: 64.42px;
  width: 100%;
}

.pull-right {
  float: right !important;
}

footer {
  background-color: #1976D2;
  width: 100%;
  height: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: rgba(0, 0, 0, .1);
  height: 1px;
}
