<ul class="nav nav-tabs">
  <%= link_to root_path, class: "text-decoration-none" do %>
    <%= image_tag("CapstoneConnect_logo_symbol.png", class: "img-nav-brand d-inline-block align-top", alt: "logo") %>
    CapstoneConnect
  <% end %>
  <li class="nav-item">
    <%= link_to contact_path, class: "nav-link" do %>
      Contact Us
    <% end %>
  </li>
</ul>
